
<div class="mb-3 row">
  <label for="{{labelFor}}" *ngIf="required" requiredLabel
  class="col-sm-4 col-form-label"  [innerText]="labelText">
  </label>
  <label for="{{labelFor}}" *ngIf="!required"
  class="col-sm-4 col-form-label" [innerText]="labelText">
  </label>
  <div class="col-sm-8">
    <ng-select
      [items]="items | async"
      bindLabel="description"
      placeholder="{{placeHolder}}"
      [(ngModel)]="item"
      (ngModelChange)="onValueChange($event)"
      required="{{required}}"
      >
    </ng-select>
  </div>
</div>
