
  <div class="card"  style="width: 40rem;">
    <div class="card-header">
      Employee Form
    </div>
    <div class="card-body">
      <form [formGroup]="frmEmloyee">

        <app-dropdown
          [items]="departmentDp"
          [labelFor]="'department'"
          [labelText]="'Department'"
          [placeHolder]="'Select Department'"
          (itemValueChange)="departmentEventHanlder($event)"
        >
        </app-dropdown>

        <app-dropdown
          [items]="departmentGroupDp"
          [labelFor]="'departmentGroup'"
          [labelText]="'Department Group'"
          [placeHolder]="'Select Department Group'"
          (itemValueChange)="departmentGroupEventHanlder($event)"
        >
        </app-dropdown>

      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <!-- <app-department-dropdown
        (departmentValueChange)="departmentEventHanlder($event)">
      </app-department-dropdown>
      <app-department-group-dropdown [department]="department"
        (departmentGroupValueChange)="departmentDropdownEventHanlder($event)">
      </app-department-group-dropdown> -->
    </form>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
