
  <div class="card"  style="width: 40rem;">
    <div class="card-header">
      Employee Form
    </div>
    <div class="card-body">
      <form [formGroup]="frmEmloyee">

        <app-dropdown

          formControlName="department"
          [items]="departments$"
          [labelFor]="'department'"
          [labelText]="'Department'"
          [placeHolder]="'Select Department'"
          [required] = "true"
          (itemValueChange)="departmentEventHanlder($event)"
        >
        </app-dropdown>

        <app-dropdown

          formControlName="departmentGroup"
          [items]="departmentGroup$"
          [labelFor]="'departmentGroup'"
          [labelText]="'Department Group'"
          [placeHolder]="'Select Department Group'"
          [required] = "true"
          (itemValueChange)="departmentGroupEventHanlder($event)"
        >
        </app-dropdown>

        <div class="mb-3 row">

          <label for="firstName" class="col-sm-4 col-form-label" requiredLabel>First Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="middleName" class="col-sm-4 col-form-label">Middle Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="middleName" formControlName="middleName">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="lastName" class="col-sm-4 col-form-label" requiredLabel>Last Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="birthDate" class="col-sm-4 col-form-label">Birth Date</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="birthDate" formControlName="birthDate">
          </div>
        </div>
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <!-- <app-department-dropdown
        (departmentValueChange)="departmentEventHanlder($event)">
      </app-department-dropdown>
      <app-department-group-dropdown [department]="department"
        (departmentGroupValueChange)="departmentDropdownEventHanlder($event)">
      </app-department-group-dropdown> -->
    </form>
      <a (click)="onSave()" class="btn btn-primary">Save</a>
    </div>
  </div>
